<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
   <welcome-file-list>
    <welcome-file>/jsp/home.jsp</welcome-file>
  </welcome-file-list>
<servlet>
	    <servlet-name>View</servlet-name>
	    <servlet-class>com.bit.web.View</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>View</servlet-name>
	    <url-pattern>/view</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>UploadHandleServlet</servlet-name>
	    <servlet-class>com.bit.web.UploadHandleServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>UploadHandleServlet</servlet-name>
	    <url-pattern>/servlet/UploadHandleServlet</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>UploadFile</servlet-name>
	    <servlet-class>com.bit.web.UploadFile</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>UploadFile</servlet-name>
	    <url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>SearchServlet</servlet-name>
	    <servlet-class>com.bit.web.SearchServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoadTimes</servlet-name>
    <servlet-class>com.bit.web.LoadTimes</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClassSearchServlet</servlet-name>
    <servlet-class>com.bit.web.ClassSearchServlet</servlet-class>
  </servlet>


	
	<servlet-mapping>
	    <servlet-name>SearchServlet</servlet-name>
	    <url-pattern>/search</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadTimes</servlet-name>
    <url-pattern>/loadtimes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassSearchServlet</servlet-name>
    <url-pattern>/classSearch</url-pattern>
  </servlet-mapping>
  
	 <filter>
		<filter-name>characterencoding</filter-name>
		<filter-class>com.bit.filter.CharacterEncodingFilter</filter-class>
		<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
		</init-param>
	</filter>



	<filter-mapping>
		<filter-name>characterencoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  
  
  
</web-app>

