<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
 


	<servlet>
	    <servlet-name>UploadHandleServlet</servlet-name>
	    <servlet-class>com.bit.web.UploadHandleServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>UploadHandleServlet</servlet-name>
	    <url-pattern>/servlet/UploadHandleServlet</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>UploadFile</servlet-name>
	    <servlet-class>com.bit.web.UploadFile</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>UploadFile</servlet-name>
	    <url-pattern>/servlet/UploadFile</url-pattern>
	</servlet-mapping>


  
	 <filter>
		<filter-name>characterencoding</filter-name>
		<filter-class>com.bit.filter.CharacterEncodingFilter</filter-class>
		<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
		</init-param>
	</filter>


	<filter-mapping>
		<filter-name>characterencoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  
  
  
</web-app>

