.container li{
margin: 0px;
padding: 5px;
width: 154px;
height: 142px;
float: left;
position: relative;
}
.container ol {list-style-type:none}
.container .preview {background:yellow; width:100%; height:100%;}
.container .description {float:bottom; position:absolute; bottom:3px;}
.container img {border-style:none;}
.fix-footer {position:fixed; bottom:14px; left:20px;}